.login {
    display: flex;
    justify-content: center;
    align-items: center;
 //   min-height: 100vh;

    .form {
        width : 300px;
        height : 280px;
        border : 1px solid black;
        border-radius : 30px;
        background-color : rgb(255, 235, 197);
        padding : 0px 15px;
        text-align : center;
        box-sizing : border-box;
        margin : 100px auto;
    }
    
    &__title {
        display: flex;
        flex-direction: column;
        font-size: 64px;
        font-weight: bolder;
        align-items: center;
        justify-content: center;
      }
    &__input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }      
}

